<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040166340050-3p8r42j2ogpnp2lofk64sk29gan10om4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040166340050-3p8r42j2ogpnp2lofk64sk29gan10om4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1040166340050-3geis6ul5jnhpnq03rciv15alb0m0sup.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIXIMYpfEIwE8XjTaKUahwvECFN8GMGTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1040166340050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plugIn</string>
	<key>PROJECT_ID</key>
	<string>plug-in-6f160</string>
	<key>STORAGE_BUCKET</key>
	<string>plug-in-6f160.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040166340050:ios:b2144283a14ce450c6340b</string>
</dict>
</plist>